.center {
    font-size: medium;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    font-weight: normal;
    background: #D8D8D8;
    
}
.fila{
    vertical-align: middle;
}
.right {
    position: relative;
    padding: 10px;
}