<section class="site-blocks-cover overflow-hidden bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto align-self-center text-center text-md-left">
          <div class="intro-text">
            <h1>Amamos a tus Mascotas</h1>
            <p class="mb-4 OpenSans">deja que tus mascotas estan en buenas manos</p>
          </div>
        </div>
        <div class="col-md-5 align-self-center text-center text-md-right">
          <img src="../../app/Template/doglife/images/dog_1.jpg" alt="Error al cargar imagen" class="img-fluid cover-img">
          <img src="../../app/Template/doglife/images/dog_2.jpg" alt="Error al cargar imagen" class="img-fluid cover-img2">
        </div>
      </div>
    </div>
  </section> 

  <section class="site-section" id="about-section">
    <div class="container OpenSans">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-6 text-center heading-section mb-5">
          
          <h2 class="text-black mb-2">Bienvenido a Nuestra Pagina</h2>
          <p>Aqui atendemos a tu mascota con todo el cariño y la profecionalidad que se merece</p>
        </div>
      </div>

      <div class="row hover-1-wrap mb-5 mb-lg-0">
        <div class="col-12">
          <div class="row">
            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-left">
              <a href="#" class="rotate10">
                <img src="../../app/Template/doglife/images/dog_3.jpg" alt="Image" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-right">
              <h2 class="text-black">Mascotas Felices</h2>
              <p class="mb-4">Atendemos a tus mascotas con el cuidado que nesecitan y amabilidad que requieren, asi los veras contentos cuando esten con nosotros</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row hover-1-wrap mb-5 mb-lg-0">
        <div class="col-12">
          <div class="row">
            <div class="mb-4 mb-lg-0 col-lg-6"  data-aos="fade-right">
              <a href="#" class="rotate-reverse10">
                <img src="../../app/Template/doglife/images/dog_4.jpg" alt="Image" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-5 ml-auto align-self-center"  data-aos="fade-left">
              <h2 class="text-black">Equipo Moderno</h2>
              <p class="mb-4">Ven a nuestras instalaciones y veras el mas moderno equipo para tratar a tu mascota</p>
              <p><a href="#" class="btn btn-primary">Mas informacion</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="site-section bg-light trainers" id="trainers-section">
    <div class="container">
      <div class="row">
       
        <div class="col-md-6" data-aos="fade-right">
          <img class="img-fluid border10 rotate-reverse10" src="../../app/Template/doglife/images/dog_doctor.jpg" alt="Image">
        </div>
        <div class="col-md-5 ml-auto align-self-center" data-aos="fade-left">
          <h2 class="mb-2 heading mb-4 OpenSans">Conoce a <strong>Mariana Robles</strong> nuestra Veterinaria</h2>
          <p class="OpenSans text-black">es un chica q se graduo de la escuela de veterinarios en Santa cruz y a dedicado su vida a cuidar animales de albergues y en centros de adopcion</p>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section OpenSans" id="services-section">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-6 text-center heading-section mb-5">
          
          <h2 class="text-black mb-2">Nuestros Servicios</h2>
          <p>aqui podras ver un resumen de los servicios que ofrecemos para tu mascota</p>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up" data-aos-delay="">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Consuta medica</h3></a>
            <p>Aqui es donde podras reservar una consulta para tu mascota en una de las veterinarias</p>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up"  data-aos-delay="100">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Peluqueria</h3></a>
            <p>Aqui podras reservar una hora para que corten el pelo a tu mascota  le den un baño</p>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up"  data-aos-delay="200">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Consulta a domicilio</h3></a>
            <p>Aqui podras pedir q un veterinario vaya a tu domicilio para q atienda a tu mascota</p>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up"  data-aos-delay="">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Curiosidades</h3></a>
            <p>Aqui podras ver diferentes Curiosidades para tu mascota y diferentes animales</p>
          </div>

        </div>

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up"  data-aos-delay="100">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Adopcion</h3></a>
            <p>Aqui podras ver diferentes animales q estan en adopcion y nesecitan un hogar</p>
          </div>
        </div>

        <div class="col-md-6 mb-4 col-lg-4 parrafo" data-aos="fade-up"  data-aos-delay="200">
          <div class="block_service">
            <a href="" class="nodeco"><span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Hotel Para Mascotas</h3></a>
            <p>Si nesecitas un lugar donde dejar tu mascota aui tenemos un hotel muy comodo para el</p>
          </div>
        </div>
          
      </div>
    </div>
  </section>

  <section class="bg-light" id="contact-section">
    <div class="container OpenSans">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <form action="#" class="p-5 contact-form">
            
            <h2 class="h4 mb-5 heading">Envianos un mensaje</h2> 

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="fname">Nombres</label>
                <input type="text" id="fname" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="lname">Apellidos</label>
                <input type="text" id="lname" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label for="email">Correo Electronico</label> 
                <input type="email" id="email" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label for="subject">Asunto</label> 
                <input type="subject" id="subject" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label for="message">Mensaje</label> 
                <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Escribe tus dudas aqui..."></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Enviar Mensaje" class="btn btn-dark btn-md text-white">
              </div>
            </div>


          </form>
        </div>
        <div class="col-lg-6">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-6 text-center heading-section mb-5 align-self-center">
              
              <h2 class=" mb-5 text-black">Contactanos</h2>
              <ul class="list-unstyled text-left address">
                <li>
                  <span class="d-block">Direccion:</span>
                  <p>AV. America entre Beigin y Cesar Achaval</p>
                </li>
                <li>
                  <span class="d-block">Telefono:</span>
                  <p>+(000) 123 4567 89</p>
                </li>
                <li>
                  <span class="d-block">Email:</span>
                  <p>safesoft.sa@gmail.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
