<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="game.title" placeholder="Nombre de la mascota" class="form-control" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" name="Edad" [(ngModel)]="game.title" placeholder="Edad" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="Imagen" [(ngModel)]="game.image" placeholder="Imagen" class="form-control">
                </div>
                <div class="form-group">
                    <select required>
                        <option value="">Seleccione un Sexo</option>
                        <option value="saab">Macho</option>
                        <option value="mercedes">Hembra</option>
                    </select>
                </div>
                <div class="form-group">
                    <select required>
                        <option value="">Seleccione un Tamaño para la mascota</option>
                        <option value="0">Pequeño</option>
                        <option value="1"></option>Mediano</option>
                        <option value="2"></option>Grande</option>
                    </select>
                </div>
                <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
  
<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="game.image == '' ? '/assets/noimage.png' : game.image" alt="No Image" class="card-img-top">
        <h3>{{game.id}}. {{game.title == '' ? 'Game Title' : game.title}}</h3>
        <p>{{game.description == '' ? 'Write your Descrition' : game.description}}</p>
        <p>{{game.created_at | date: 'yyyy-MM-dd'}}</p>
    </div>
</div>
