<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-md-6 mx-auto">
            <div class="card border-primary">
                <div class="card-body text-center">
                    <form>
                        <div class="form-group">
                            <select type="text" class="form-control">
                                <option value="Seleccione hora para su consulta">"</option>
                                <option value="8:30">8:30</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Descripcion">
                        </div>

                        <div class="form-group">
                            <select type="text" class="form-control">
                                <option value="Seleccione el tipo de reserva para su consulta">"</option>
                                <option value="en consultorio">Consulta en Consultorio</option>
                                <option value="a domicilio">Consulta a Domicilio</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>