<div class="modal fade" id="modalMascota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ !this.dataApi.selectedMascota.id ? 'Nueva Mascota' : 'Modificar Mascota'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <form action="">
              <div class="form-group">
                <input type="text" name="name" [(ngModel)]="mascota.nombre" placeholder="Nombre de la mascota" class="form-control" autofocus required autocomplete="off">
              </div>
              <div class="form-group">
                <input type="text" name="Edad" [(ngModel)]="mascota.edad" placeholder="Edad" class="form-control" required autocomplete="off">
              </div>
              <div class="form-group">
                <input type="text" name="Imagen" [(ngModel)]="mascota.imagen" placeholder="Imagen" class="form-control" >
                <div class="custom-file label">  
                  <input type="file" class="custom-file-input" accept=".png, .jpg" [(ngModel)]="localUrl" (change)="showPreviewImage($event)" multiple>
                  <!--<label class="custom-file-label label" for="customFile">{{imagen == null ? 'Elegir una imagen' : localUrl}}</label>-->
                  
                </div>
                <button class="btn btn btn-secondary">Cargar imagen</button>
              </div>
              <div class="form-group">
                <select [(ngModel)]="mascota.sexo" class="form-control">
                  <option value="0">Seleccione un Sexo</option>
                  <option value="Macho">Macho</option>
                  <option value="Hembra">Hembra</option>
                </select>
              </div>
              <div class="form-group">
                <select [(ngModel)]="mascota.tamanio" class="form-control" name="tamaño" required>
                  <option value="Pequeno">Pequeño</option>
                  <option value="Mediano">Mediano</option>
                  <option value="Grande">Grande</option>
                </select>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-success btn-block" (click)="edit ? updateGame() : saveNewGame()">Guardar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <div class="card card-body text-center">
              <img [src]="mascota.imagen == '' ? '/assets/noimage.png' : localUrl" alt="No Image" class="card-img-top">
              <h3> {{mascota.nombre == '' ? 'Nombre de tu mascota' : mascota.nombre}}</h3>
              <p>{{mascota.edad == '' ? 'Edad' : mascota.edad}}</p>
              <!--<p>{{game.created_at | date: 'yyyy-MM-dd'}}</p>-->
              <p>{{mascota.sexo == '' ? 'Sexo' : mascota.sexo}}</p>
              <p>{{mascota.tamanio == '' ? 'Tamaño' : mascota.tamanio}}</p>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
