<div class="container">
    <div class="row">
        <div class="right">
            <a class="btn btn-primary text-white "><i class="fas fa-plus"></i> Nueva Vacuna</a>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table table-hover table-light table-bordered center">
            <thead class="thead-dark">
                <tr>
                    <th>Empleado</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                    <th>Hora de Descanso Inicial</th>
                    <th>Hora de Descanso Final</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="center">
                    <td class="fila">Marcos</td>
                    <td class="fila">8:30</td>
                    <td class="fila">6:30</td>
                    <td class="fila">12:00</td>
                    <td class="fila">2:00</td>
                    <td><a href="" class="btn btn-warning">Editar</a></td>
                    <td><a href="" class="btn btn-danger">Eliminar</a></td>
                </tr>
                <tr class="center">
                    <td class="fila">Marcos</td>
                    <td class="fila">8:30</td>
                    <td class="fila">6:30</td>
                    <td class="fila">12:00</td>
                    <td class="fila">2:00</td>
                    <td><a href="" class="btn btn-warning">Editar</a></td>
                    <td><a href="" class="btn btn-danger">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
